---
layout: page
title: Pages 
header: Pages
group: navigation
---

<h2>All Pages</h2>
{% assign pages_list = site.pages %}
{% include helpers/pages_list.html %}


<h2>Pages in group: project</h2>
{% assign pages_list = site.pages %}
{% assign group = 'project' %}
{% include helpers/pages_list.html %}

<h2>Pages in group: navigation</h2>
{% assign pages_list = site.pages %}
{% assign group = 'navigation' %}
{% include helpers/pages_list.html %}

<br/>
<p>
  View the source-code for more info.
</p>